@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fae9fb;
}

.container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

.image-box img {
  width: 100%;
}

.image-box {
  max-width: 55%;
}

.content .topic {
  font-size: 22px;
  font-weight: 500;
  color: #ba24c2;
}

.content form {
  width: 40%;
  margin-right: 30px;
}

.content .input-box {
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}

.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  outline: none;
  background-color: #fae9fb;
  border: 2px solid transparent;
  padding-left: 16px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #636c78;
  font-size: 15px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
  top: 0;
  left: 12px;
  color: #ba24c2;
  background: #fff;
  display: 14px;
}

.content .message-box {
  min-height: 100px;
  position: relative;
}

.content .message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 6px;
  outline: none;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.content .message-box label {
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.content .message-box textarea:focus {
  border-color: #ba24c2;
  background-color: #fff;
}

.content .message-box textarea:focus ~ label {
  left: 12px;
  color: #ba24c2;
  border-color: #ba24c2;
  top: -10px;
  background: #fff;
  font-size: 14px;
}

.content .input-box input[type="submit"] {
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #ba24c2;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.content .input-box input[type="submit"]:hover {
  background-color: #d43dd4;
}

@media (max-width: 900px) {
  .content .image-box {
    display: none;
  }

  .content form {
    width: 100%;
    margin-right: 30px;
  }
}
